# General Settings
PROJECT_NAME="EduPractica API"
DATABASE_URL="sqlite:///./sql_app.db"
SECRET_KEY="YOUR_SUPER_SECRET_KEY_HERE"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# OAuth Settings
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
MICROSOFT_CLIENT_ID="your-microsoft-client-id"
MICROSOFT_CLIENT_SECRET="your-microsoft-client-secret"

# Frontend URL
FRONTEND_URL="http://localhost:3000"
